<section>
  <div class="page-header">
    <h1>Historical Events</h1>
  </div>
  <div class="list-group">
    <div ng-repeat="sound in vm.sounds" class="list-group-item sound-card">
      <a ui-sref="sounds.play({ soundId: sound.id })" class='clickable'>
        <div class="soundImage">
          <img src="{{sound.snippet.thumbnails.default.url}}">
        </div>
        <div class="soundText">
          <h4>{{sound.snippet.title}}</h4>
          <p>{{sound.snippet.description | limitTo: 90}}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sounds.$resolved && !vm.sounds.length">
    No Sounds yet, why don't you <a ui-sref="sounds.create">create one</a>?
  </div>
</section>
